---
on:
  workflow_call:
    inputs:
      super-linter-variables:
        type: string
        required: false
        default: "{}"

permissions: {}

jobs:
  super-linter:
    name: Super Linter
    runs-on: ubuntu-slim
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Parse Super Linter Variables
        id: parse_super_linter_variables
        env:
          SUPER_LINTER_VARIABLES: ${{ inputs.super-linter-variables }}
        shell: bash
        run: |
          jq -r 'to_entries | .[] | "\(.key)=\(.value)"' <<< "${SUPER_LINTER_VARIABLES}" >>"${GITHUB_ENV}"

      - name: Super Linter
        id: super_linter
        uses: super-linter/super-linter/slim@d5b0a2ab116623730dd094f15ddc1b6b25bf7b99 # v8.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MULTI_STATUS: false
          # Biome is very opinionated and enforces formatting rules that may conflict with other linters
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_TERRAFORM_TERRASCAN: false
