---
on:
  workflow_call:
    inputs:
      super-linter-variables:
        type: string
        required: false
        default: "{}"

permissions: {}

jobs:
  super-linter:
    name: Super Linter
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Parse Super Linter Variables
        id: parse_super_linter_variables
        env:
          SUPER_LINTER_VARIABLES: ${{ inputs.super-linter-variables }}
        shell: bash
        run: |
          jq -r 'to_entries | .[] | "\(.key)=\(.value)"' <<< "${SUPER_LINTER_VARIABLES}" >>"${GITHUB_ENV}"

      - name: Super Linter
        id: super_linter
        uses: super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e # v8.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MULTI_STATUS: false
          # Disabling pull request summary comment until it's less noisy (tracked in super-linter issue #7458)
          ENABLE_GITHUB_PULL_REQUEST_SUMMARY_COMMENT: false
          # Biome is very opinionated and enforces formatting rules that may conflict with other linters
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          # Terrascan is archived and will be removed in a future version of Super-Linter
          VALIDATE_TERRAFORM_TERRASCAN: false
